<configuration>
    <property name="LOG_PATH" value="logs/" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_PATH}/LOGS.log</file>
    <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
    </appender>

    <logger name="LogController" level="TRACE"/>

    <root level="debug">
    <appender-ref ref="FILE" />
    </root>
</configuration>